@model IEnumerable<MVMedia.Web.Models.ClientViewModel>


<h2>Clients</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <div>
            <div class="fa-pull-left">
                <a asp-action="AddClient" class="btn btn-primary">
                    <span>+New Client</span>
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.IsActive)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                    <td>
                        <a asp-action="UpdateClient" asp-route-id="@item.Id" title="Edit" class="btn btn-warning">
                            <span class="fas fa-edit"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>